.map-container {
  height: 100%;
}

.mapboxgl-popup-content {
  background-color: #292d36;
  font-family: monospace;
  color: #ffffff;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: #292d36;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: #292d36;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #292d36;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #292d36;
}

